version: "3.8"

services:
  worker:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./:/app
    command: ["python", "worker.py"]